/*  your css code here. If applicable */
 .container{
            display: grid;
            gap: 2px;
            grid-template-rows: repeat(20,15px);
            grid-template-columns: repeat(40,15px);
            justify-content: center;
           height: 100vh;
           align-content: center; 
           
        }
.square{
            background-color: rgb(29,29,29);
            transition: 1s;
        }
.square:hover{
            background-color: blueviolet;
        }